/* Content : Splash Region
//-------------------------------------------------------------------*/
#region_middle_splash {}

/* Left Block */
#region_middle_splash .media_container {float:left;margin:10px 0 0 0;}

#region_middle_splash .carousel {position:relative;width:567px;}
#region_middle_splash .carousel .panels {z-index:1;position:relative;width:567px;height:325px;overflow:hidden;}
#region_middle_splash .carousel .panels .panel {width:567px;height:325px;}
#region_middle_splash .carousel .more {z-index:2;position:absolute;bottom:12px;left:16px;}
#region_middle_splash .carousel .more a {float:left;width:13px;height:13px;margin-left:2px;background:url('../img/carousel-pager.png') transparent no-repeat 0 0;text-indent:-9999px;outline:0;}
#region_middle_splash .carousel .more a.selected {background-position:0 -26px;}

/* Right Block : Tabs */
#region_middle_splash .information_container {float:right;width:381px;height:325px;margin:12px 0 0 0;background:url('../img/splash_tabs_panel.png') transparent no-repeat 0 44px;overflow:hidden;}
#region_middle_splash .information_container .tabs ul.inner {margin:0;padding:0;list-style-type:none;}
#region_middle_splash .information_container .tabs .inner {z-index:1;position:relative;width:381px;height:44px;overflow:hidden;background:url('../img/splash_tabs.png') transparent no-repeat;}
#region_middle_splash .information_container .tab a {
	position:absolute;height:16px;padding-left:24px;overflow:hidden;
	background:url('../img/icons-small.png') transparent no-repeat;
	font-family:palatino, serif;font-size:13px;text-decoration:none;
}

#region_middle_splash .information_container .tabs_tab0 .inner {background-position:0 0;}
#region_middle_splash .information_container .tabs_tab1 .inner {background-position:100% -47px;}

#region_middle_splash .information_container .tab_news a {top:19px;left:20px;background-position:0 -72px;text-shadow:none;color:#145da8;}
#region_middle_splash .information_container .tab_events a {top:19px;right:26px;background-position:0 -106px;text-shadow:none;color:#145da8;}

#region_middle_splash .information_container .ui-tabs-selected .tab_news a {background-position:0 -90px;text-shadow:1px 1px 1px #555;color:#fff;}
#region_middle_splash .information_container .ui-tabs-selected .tab_events a {background-position:0 -124px;text-shadow:1px 1px 1px #555;color:#fff;}

/* Right Block : Panels */
#region_middle_splash .information_container .panels {width:381px;height:289px;}
#region_middle_splash .information_container .panels .panel {margin:0 8px;}
#region_middle_splash .information_container .panels .panel .items {height:226px;clear:both;overflow:hidden;}
#region_middle_splash .information_container .panels .ui-tabs-hide {display:none;}

/* Right Block : Content Items */
#region_middle_splash .information_container .panel .item {margin:18px 40px 0 0;clear:both;font-family:avenir, sans-serif;}
#region_middle_splash .information_container .panel .item h4 {margin-left:88px;font-family:'Trebuchet MS', sans-serif;font-weight:bold;font-size:14px;}
#region_middle_splash .information_container .panel .item h4 a {color:#145da8;}
#region_middle_splash .information_container .panel .item a:link, #region_middle_splash .information_container .panel .item a:visited {text-decoration:none;}
#region_middle_splash .information_container .panel .item a:hover, #region_middle_splash .information_container .panel .item a:active {text-decoration:underline;}
#region_middle_splash .information_container .panel .item p {margin-left:88px;font-size:12px;font-size:13px;color:#4d4d4d;}
#region_middle_splash .information_container .panel .item .date {float:left;width:70px;height:52px;border-right:solid 2px #145da8;line-height:1;text-shadow:0px -1px 0px #444;color:#145da8;}
#region_middle_splash .information_container .panel .item .date .month {display:block;margin-left:20px;text-transform:uppercase;font-size:18px;}
#region_middle_splash .information_container .panel .item .date .day {display:block;margin-left:20px;font-size:36px;}

/* Right Block : Button */
#region_middle_splash .information_container .panel .btn {
	float:right;margin:4px 10px 8px 0;background:url('../img/buttons.png') transparent no-repeat;
	font-family:avenir, sans-serif;font-size:12px;text-shadow:1px 1px 0 #555;color:#fff;
	background-position:0 -306px;
}
#region_middle_splash .information_container .panel .btn .s1 {
	display:block;background:url('../img/buttons.png') transparent no-repeat;
	background-position:100% -364px;
}
#region_middle_splash .information_container .panel .btn .s2 {
	display:block;height:24px;margin:0 18px;padding:5px 8px 0 8px;overflow:hidden;background:url('../img/buttons.png') transparent repeat-x;
	background-position:0 -335px;
}
#region_middle_splash .information_container .panel .btn:hover {background-position:0 -393px;}
#region_middle_splash .information_container .panel .btn:hover .s1 {background-position:100% -451px;}
#region_middle_splash .information_container .panel .btn:hover .s2 {background-position:0 -422px;}
#region_middle_splash .information_container .panel .btn:active {background-position:0 -480px;}
#region_middle_splash .information_container .panel .btn:active .s1 {background-position:100% -538px;}
#region_middle_splash .information_container .panel .btn:active .s2 {background-position:0 -509px;}

/* Right Block : Specific Styles */
#region_middle_splash .information_container .panels .news {}
#region_middle_splash .information_container .panels .events {}

/* Content : Portal Region
//-------------------------------------------------------------------*/
#region_middle_portal a:link, #region_middle_portal a:visited {text-decoration:none;}
#region_middle_portal a:hover, #region_middle_portal a:active {text-decoration:none;}

/* Middle Columns */
#region_middle_portal .cols3_container {float:left;overflow:hidden;margin:20px 0 0 2px;}
#region_middle_portal .cols3_container .col {float:left;width:225px;margin-right:14px;}
#region_middle_portal .cols3_container .col .panel {width:225px;height:224px;}
#region_middle_portal .cols3_container .col .panel h3 {padding:17px 0 0 84px;font-family:palatino, serif;font-size:20px;text-shadow:1px 1px 0 #555;color:#fff;}
#region_middle_portal .cols3_container .col .panel p {padding:27px 20px 20px 20px;font-family:avenir, sans-serif;font-size:14px;color:#4d4d4d;}

#region_middle_portal .students .panel {background:url('../img/panel_students.png') transparent no-repeat 0 0;}
#region_middle_portal .parents .panel {background:url('../img/panel_parents.png') transparent no-repeat 0 0;}
#region_middle_portal .educators .panel {background:url('../img/panel_educators.png') transparent no-repeat 0 0;}

#region_middle_portal .col .btn {
	float:left;margin-top:22px;background:url('../img/buttons.png') transparent no-repeat;
	font-family:avenir, sans-serif;font-size:14px;text-shadow:1px 1px 0 #555;color:#fff;
	background-position:0 0;
}
#region_middle_portal .col .btn .s1 {
	display:block;background:url('../img/buttons.png') transparent no-repeat;
	background-position:100% -68px;
}
#region_middle_portal .col .btn .s2 {
	display:block;height:28px;margin:0 18px;padding:7px 8px 0 8px;overflow:hidden;background:url('../img/buttons.png') transparent repeat-x;
	background-position:0 -34px;
}
#region_middle_portal .col .btn:hover {background-position:0 -102px;}
#region_middle_portal .col .btn:hover .s1 {background-position:100% -170px;}
#region_middle_portal .col .btn:hover .s2 {background-position:0 -136px;}
#region_middle_portal .col .btn:active {background-position:0 -204px;}
#region_middle_portal .col .btn:active .s1 {background-position:100% -272px;}
#region_middle_portal .col .btn:active .s2 {background-position:0 -238px;}

/* Right Sidebar */
#region_middle_portal .rows_container {float:right;margin:20px 10px 0 0;}

#region_middle_portal .signup {width:219px;height:147px;background:url('../img/panel_signup.png') transparent no-repeat 0 0;}
#region_middle_portal .signup {}
#region_middle_portal .signup h3 {
	position:relative;top:14px;left:16px;height:20px;padding-left:20px;overflow:hidden;
	background:url('../img/icons-small.png') transparent no-repeat 0 -140px;
	font-family:palatino, serif;font-size:16px;text-shadow:1px 1px 0 #777;color:#fff;
}
#region_middle_portal .signup p {padding:28px 80px 0 20px;font-family:avenir, sans-serif;font-size:13px;color:#4d4d4d;}
#region_middle_portal .signup strong {font-size:14px;color:#145da8;}
#region_middle_portal .signup .btn {
	float:left;margin:10px 0 0 8px;background:url('../img/buttons.png') transparent no-repeat;
	font-family:avenir, sans-serif;font-size:12px;text-shadow:1px 1px 0 #777;color:#fff;
	background-position:0 -567px;
}
#region_middle_portal .signup .btn .s1 {
	display:block;background:url('../img/buttons.png') transparent no-repeat;
	background-position:100% -623px;
}
#region_middle_portal .signup .btn .s2 {
	display:block;height:24px;margin:0 18px;padding:5px 6px 0 6px;overflow:hidden;background:url('../img/buttons.png') transparent repeat-x;
	background-position:0 -595px;
}
#region_middle_portal .signup .btn:hover {background-position:0 -651px;}
#region_middle_portal .signup .btn:hover .s1 {background-position:100% -707px;}
#region_middle_portal .signup .btn:hover .s2 {background-position:0 -679px;}
#region_middle_portal .signup .btn:active {background-position:0 -735px;}
#region_middle_portal .signup .btn:active .s1 {background-position:100% -791px;}
#region_middle_portal .signup .btn:active .s2 {background-position:0 -763px;}

#region_middle_portal .carousel {width:210px;margin:20px 0 0 6px;}
#region_middle_portal .carousel .panels {width:210px;height:134px;overflow:hidden;}
#region_middle_portal .carousel .panels .panel {width:210px;height:134px;}
#region_middle_portal .carousel .more {clear:both;overflow:hidden;}
#region_middle_portal .carousel .more a {float:right;width:13px;height:13px;margin-left:2px;background:url('../img/carousel-pager.png') transparent no-repeat 0 0;text-indent:-9999px;outline:0;}
#region_middle_portal .carousel .more a.selected {background-position:0 -26px;}
/*
#region_middle_portal .carousel .p1 {background:url('../img/panel_carousel1.png') transparent no-repeat 0 0;}
#region_middle_portal .carousel .p1 h3 {padding:10px 0 0 12px;font-family:palatino, serif;font-size:17px;color:#145da8;}
#region_middle_portal .carousel .p1 p {padding:0 16px 0 20px;line-height:1.1;text-align:right;font-family:avenir, sans-serif;font-size:12px;color:#4d4d4d;}
#region_middle_portal .carousel .p1 p a {padding:0 15px 0 0;background:url('../img/icons-small.png') transparent no-repeat 110% -196px;color:#145da8;}
#region_middle_portal .carousel .p1 p a:link, #region_middle_portal .carousel .p1 p a:visited {text-decoration:underline;}
#region_middle_portal .carousel .p1 p a:hover, #region_middle_portal .carousel .p1 p a:active {text-decoration:underline;}

#region_middle_portal .carousel .p2 {background:url('../img/panel_carousel2.png') transparent no-repeat 0 0;}
#region_middle_portal .carousel .p2 h3 {padding:10px 0 0 12px;font-family:palatino, serif;font-size:17px;color:#145da8;}
#region_middle_portal .carousel .p2 p {padding:0 16px 0 20px;line-height:1.1;text-align:right;font-family:avenir, sans-serif;font-size:12px;color:#4d4d4d;}
#region_middle_portal .carousel .p2 p a {padding:0 15px 0 0;background:url('../img/icons-small.png') transparent no-repeat 110% -196px;color:#145da8;}
#region_middle_portal .carousel .p2 p a:link, #region_middle_portal .carousel .p1 p a:visited {text-decoration:underline;}
#region_middle_portal .carousel .p2 p a:hover, #region_middle_portal .carousel .p1 p a:active {text-decoration:underline;}
*/