/*
//-------------------------------------------------------------------
// File       : template.css, template_skin.css
// Version    : 1.1
// Created    : 2011-06-03
// Modified   : 2011-06-08
//
// Author     : William Chang
// Email      : william@creativecrew.org
// Website    : http://www.williamchang.org
//
// Compatible : Microsoft Internet Explorer 6+, Mozilla Firefox 2+, Apple Safari 3+, Google Chrome 1+
//-------------------------------------------------------------------
/// <summary>
/// Style sheet of template.
/// </summary>
///
/// <remarks>
/// References:
/// http://www.cssplay.co.uk/
/// Debug:
/// background:-moz-linear-gradient(left, red, pink);
/// background:-moz-linear-gradient(left, blue, lightblue);
/// background:-moz-linear-gradient(left, green, lightgreen);
/// </remarks>
//-------------------------------------------------------------------
*/

/* Global
//-------------------------------------------------------------------*/
html {}
body {-webkit-text-size-adjust:none;}
strong {font-weight:bold;}

/* Framework
//-------------------------------------------------------------------*/
#frame {}
#frame #region_header_logo {padding-top:12px;}

#frame_mainmenu {}
#frame_mainmenu #region_header_navigation {display:none;}

/* Container Region
//-------------------------------------------------------------------*/
#region_container {}
#region_container_buffer {}

/* Column Region
//-------------------------------------------------------------------*/
#region_column {}
#region_column_buffer {}

/* Header Region
//-------------------------------------------------------------------*/
#region_header {clear:both;}
#region_header_navigation {display:block;height:73px;}
#region_header_logo {}

/* Middle Region
//-------------------------------------------------------------------*/
#region_middle {min-height:200px;clear:both;}

/* Bottom Region
//-------------------------------------------------------------------*/
#region_bottom {clear:both;}

/* Footer Region
//-------------------------------------------------------------------*/
#region_footer {clear:both;}